/* BODY */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
/* NAVBAR */
.nav-bar{
  width: 100%;
}
.nav-bar-i{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 20%;
  border: 2px solid green;
}
.logo-i{
  width: 100%;
}
.logo-i img{
  width: 100%;
}
.search-bar{
  width: 30%;
  border: 2px solid red;
  display: flex;
  align-items: center;
}
.search-bar-i{
  width: 100%;
  display: flex;
  margin: auto;
  /* align-items: center; */
  justify-content: flex-end;
}
.search-bar-i input {
  width: 100%;
  font-size: 17px;
}
.notify{
  width: 35%;
}
.notify-i{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: 2px solid green;
}
.profile{
  width: 10%;
}
