/* BODY */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*------------------------------------- NAVBAR -------------------------------------*/
.nav-bar{
  width: 100%;
}
.nav-bar-i{
  width: 100%;
  padding: .5%;
  display: flex;
  align-items: center;
}
.logo{
  width: 20%;
  /* border: 2px solid green; */
}
.logo-i{
  width: 100%;
}
.logo-i img{
  width: 100%;
}
.search-bar{
  margin: auto 4%;
  width: 30%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}
.search-bar-i{
  width: 100%;
  display: flex;
  margin: auto;
  /* align-items: center; */
  justify-content: flex-end;
}
.search-bar-i input {
  width: 100%;
  font-size: 17px;
  background-color: rgb(249, 248, 252);
  padding: 3%;
  border: rgba(249, 248, 252, 0);
}
.search-bar-i button{
  width: 50px;
  border: rgba(249, 248, 252, 0);
  background-color: rgb(95, 73, 218);
  /* height: 50px; */
  color: white;
}
.notify{
  width: 20%;
  margin: auto 4%;
}
.notify-i{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid green; */
}
.notify-i i{
  margin: auto 4%;
  color: rgb(211, 208, 225);
}
.profile{
  width: 20%;
  border-left: 1px solid rgb(158, 155, 177);;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-i{
  margin: auto 10%;
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-name{
  font-size: 12px;
  margin-right: 14px;
  color: rgb(158, 155, 177);
}
.pro-img{
  width: 18%;
}
.pro-img img{
  width: 100%;
}
/*------------------------------------- MAIN CONTAINER -------------------------------------*/
.main-container{
  width: 100%;
}
.main-container-i{
  width: 100%;
  display: flex;
}
/*------------------------------------- DASHBOARD -------------------------------------*/
.dashboard{
  /* border: 2px solid red; */
  width: 20%;
}
.dashboard-i{
  width: 100%;
  background-image: linear-gradient(rgb(95, 73, 219), rgb(65, 7, 191));
  color: white;
  height: 100vh;
}
.db-1, 
.db-2, 
.db-3, 
.db-4{
  width: 100%;
} 
.db-1-i, 
.db-2-i, 
.db-3-i, 
.db-4-i{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.db-1-head{
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.db-1-head i{
  margin: auto 3%;
}
.db-head{
  display: flex;
  margin: 4% 4%;
  font-weight: 700;
}
.db-head p{
  margin: auto 2%;
}
.db-sub-head{
  display: flex;
  margin: 4% 8%;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.616);
}
.db-sub-head p{
  margin: auto 1%;
}
.db-sub-head a{
  text-decoration: none;
  display: flex;
  width: 100%;
  color: rgba(255, 255, 255, 0.616);
  transition: linear 0.2s;
}
.db-sub-head a:hover{
  color: white;
}
/*------------------------------------- VERIFICATION PAGE -------------------------------------*/
